{% macro tres_campos(form, primero, segundo, tercero, label_inicial) %}
    <div class="form-group">
        <!-- <span class="col-md-2 control-label"><b>Nombre: </b></span>  -->
        {{form_label(form.nombre)}}
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="{{primero.vars.full_name}}" id="{{primero.vars.id}}" value="{{primero.vars.value}}"> 
                </div>

                <div class="col-md-4">
                    <input type="text" class="form-control" name="{{segundo.vars.full_name}}" id="{{segundo.vars.id}}" value="{{segundo.vars.value}}"> 
                </div>

                <div class="col-md-4">
                    <input type="text" class="form-control" name="{{tercero.vars.full_name}}" id="{{tercero.vars.id}}" value="{{tercero.vars.value}}">                                 
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
