{% extends "ZubietxePrincipalBundle:Default:dos_columnas.html.twig" %}


    {% block title 'Amiga - Persona' %}

    {% block col_izda %}

    {% import "ZubietxePrincipalBundle:Default:macros.html.twig" as funciones %}

        <h3>Formulario persona: </h3>

        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#ficha_social" role="tab" data-toggle="tab">FICHA SOCIAL</a></li>            
            <li class="active"><a href="#dim_economia" role="tab" data-toggle="tab">Situación económica</a></li>
            <li><a href="#dim_ocupacional" role="tab" data-toggle="tab">Situación ocupacional-laboral</a></li>
            <li><a href="#dim_residencial" role="tab" data-toggle="tab">Situación residencial</a></li>
            <li><a href="#dim_jur_economico" role="tab" data-toggle="tab">Jurídico - económico</a></li>
            <li><a href="#dim_alojamiento" role="tab" data-toggle="tab">Situación de alojamiento</a></li>
            <li><a href="#dim_vinculos" role="tab" data-toggle="tab">Vínculos y apoyo social</a></li>
            <li><a href="#dim_convivencia" role="tab" data-toggle="tab">Situación convivencial.</a></li>
            <li><a href="#dim_cotidiana" role="tab" data-toggle="tab">Vida cotidiana.</a></li>
            <li><a href="#dim_relacional" role="tab" data-toggle="tab">Relaciones otros contextos</a></li>
            <li><a href="#dim_jur_convivencial" role="tab" data-toggle="tab">Jurídico - convivencial</a></li>
            <li><a href="#dim_habilidades" role="tab" data-toggle="tab">Habilidades sociales</a></li>
            <li><a href="#dim_formacion" role="tab" data-toggle="tab">Educación - Formación</a></li>
            <li><a href="#dim_dinamismos" role="tab" data-toggle="tab">Dinamismos vitales</a></li>
            <li><a href="#dim_proteccion" role="tab" data-toggle="tab">Sistemas de protección</a></li>
            <li><a href="#dim_jur_personal" role="tab" data-toggle="tab">Jurídico - personal</a></li>
            <li><a href="#dim_salud" role="tab" data-toggle="tab">Salud</a></li>
            <li><a href="#dim_dependencia" role="tab" data-toggle="tab"> Incapacidad, discapacidad y dependencia</a></li>
            <li><a href="#dim_jur_salud" role="tab" data-toggle="tab"> Jurídico - salud</a></li>
            <li><a href="#dim_aceptacion" role="tab" data-toggle="tab">Aceptación social</a></li> 
            <li><a href="#dim_adaptacion" role="tab" data-toggle="tab">Adaptación social</a></li>
            <li><a href="#dim_participacion" role="tab" data-toggle="tab">Participación social.</a></li>         
        </ul>

        {{ form_start(form, { 'style': 'vertical' }) }}
        <div class="tab-content">
            <div class="tab-pane fade" id="ficha_social">
                <h2>Ficha social</h2>
                {{form_row(form.sexo, { 'widget_col': 10}) }}
                {{form_row(form.nombre, { 'widget_col': 10}) }}
                {{form_row(form.apellido1, { 'widget_col': 10}) }}
                {{form_row(form.apellido2, { 'widget_col': 10}) }}
                {{form_row(form.fechanac, { 'widget_col': 10}) }}
                {{form_row(form.lugarnac, { 'widget_col': 10}) }}
                {{form_row(form.dni, { 'widget_col': 10}) }}
                {{form_row(form.pasaporte, { 'widget_col': 10}) }}
                {{form_row(form.nie, { 'widget_col': 10}) }}
                {{form_row(form.numsegsoc, { 'widget_col': 10}) }}
                {{form_row(form.numexpediente, { 'widget_col': 10}) }}
                {{form_row(form.nacionalidad, { 'widget_col': 10}) }}
                {{form_row(form.telefono, { 'widget_col': 10}) }}
                {{form_row(form.direccionactual, { 'widget_col': 10}) }}
                {{form_row(form.poblacion, { 'widget_col': 10}) }}
                {{form_row(form.nucleoconv, { 'widget_col': 10}) }}
                {{form_row(form.estadocivil, { 'widget_col': 10}) }}
                {{form_row(form.hijos, { 'widget_col': 10}) }}
                {{form_row(form.numhijos, { 'widget_col': 10}) }}
                {{form_row(form.observacioneshijos, { 'widget_col': 10}) }}
                {{form_row(form.telefonosinteres, { 'widget_col': 10}) }}
                {{form_row(form.fechaingreso, { 'widget_col': 10}) }}
                {{form_row(form.fechasalida, { 'widget_col': 10}) }}
                {{form_row(form.procedenciademanda, { 'widget_col': 10}) }}
                {{form_row(form.responsable, { 'widget_col': 10}) }}
<!--               {{form_row(form.comedorlun, { 'widget_col': 10}) }}
                {{form_row(form.comedormar, { 'widget_col': 10}) }}
                {{form_row(form.comedormie, { 'widget_col': 10}) }}
                {{form_row(form.comedorjue, { 'widget_col': 10}) }}
                {{form_row(form.comedorvie, { 'widget_col': 10}) }}
                {{form_row(form.transporte, { 'widget_col': 10}) }}
                {{form_row(form.listaespera, { 'widget_col': 10}) }}
                {{form_row(form.observacionesnivelformativo, { 'widget_col': 10}) }}
                {{form_row(form.nivelformativo, { 'widget_col': 10}) }}
                {{form_row(form.observacionesidioma, { 'widget_col': 10}) }}
                {{form_row(form.edadabandonoestudios, { 'widget_col': 10}) }}
                {{form_row(form.laboralorigen, { 'widget_col': 10}) }}
                {{form_row(form.laboralespana, { 'widget_col': 10}) }}
                {{form_row(form.tiempotrabajado, { 'widget_col': 10}) }}
                {{form_row(form.trabaja, { 'widget_col': 10}) }}
                {{form_row(form.autonomia, { 'widget_col': 10}) }}
                {{form_row(form.disminucionfisica, { 'widget_col': 10}) }}
                {{form_row(form.minusvaliaporcentaje, { 'widget_col': 10}) }}
                {{form_row(form.incapacitacion, { 'widget_col': 10}) }}
                {{form_row(form.toxicomania, { 'widget_col': 10}) }}
                {{form_row(form.antecconsumo, { 'widget_col': 10}) }}
                {{form_row(form.disminucionpsiquica, { 'widget_col': 10}) }}
                {{form_row(form.enfermedadmental, { 'widget_col': 10}) }}
                {{form_row(form.tuberculosis, { 'widget_col': 10}) }}
                {{form_row(form.hepatitis, { 'widget_col': 10}) }}
                {{form_row(form.vih, { 'widget_col': 10}) }}
                {{form_row(form.diabetes, { 'widget_col': 10}) }}
                {{form_row(form.otras, { 'widget_col': 10}) }}
                {{form_row(form.enfermedadescomentarios, { 'widget_col': 10}) }}
                {{form_row(form.medicacion, { 'widget_col': 10}) }}
                {{form_row(form.enfmentaldiagnostico, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalfechadiagn, { 'widget_col': 10}) }}
                {{form_row(form.enfmentaltratamiento, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalingresos, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalpadres, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalhermanos, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalpareja, { 'widget_col': 10}) }}
                {{form_row(form.enfmentalhijos, { 'widget_col': 10}) }}
                {{form_row(form.drogaspadres, { 'widget_col': 10}) }}
                {{form_row(form.drogashermanos, { 'widget_col': 10}) }}
                {{form_row(form.drogaspareja, { 'widget_col': 10}) }}
                {{form_row(form.drogashijos, { 'widget_col': 10}) }}
                {{form_row(form.permisoresid, { 'widget_col': 10}) }}
                {{form_row(form.permisoresidtr, { 'widget_col': 10}) }}
                {{form_row(form.numpasap, { 'widget_col': 10}) }}
                {{form_row(form.fechapasap, { 'widget_col': 10}) }}
                {{form_row(form.numcedula, { 'widget_col': 10}) }}
                {{form_row(form.fechacaduccedula, { 'widget_col': 10}) }}
                {{form_row(form.fecharesidsolicit, { 'widget_col': 10}) }}
                {{form_row(form.numresidconced, { 'widget_col': 10}) }}
                {{form_row(form.fecharesidconced, { 'widget_col': 10}) }}
                {{form_row(form.fecharesidtrabsolicit, { 'widget_col': 10}) }}
                {{form_row(form.numresidtrabconc, { 'widget_col': 10}) }}
                {{form_row(form.fecharesidtrabconc, { 'widget_col': 10}) }}
                {{form_row(form.visado, { 'widget_col': 10}) }}
                {{form_row(form.asilo, { 'widget_col': 10}) }}
                {{form_row(form.otrosdoc, { 'widget_col': 10}) }}
                {{form_row(form.fechaentrada, { 'widget_col': 10}) }}
                {{form_row(form.fechaprueba, { 'widget_col': 10}) }}
                {{form_row(form.abogadootros, { 'widget_col': 10}) }}
                {{form_row(form.permisoresidrazonesno, { 'widget_col': 10}) }}
                {{form_row(form.permisosolicitudlugar, { 'widget_col': 10}) }}
                {{form_row(form.tiemporesidenciaespanya, { 'widget_col': 10}) }}
                {{form_row(form.tiemporesidenciabilbao, { 'widget_col': 10}) }}
                {{form_row(form.permisotrabajo, { 'widget_col': 10}) }}
                {{form_row(form.permisotrabajorazonesno, { 'widget_col': 10}) }}
                {{form_row(form.fechaempadronamiento, { 'widget_col': 10}) }}
                {{form_row(form.direccionpadronactual, { 'widget_col': 10}) }}
                {{form_row(form.tis, { 'widget_col': 10}) }}
                {{form_row(form.redapoyo, { 'widget_col': 10}) }}
                {{form_row(form.ingresospropios, { 'widget_col': 10}) }}
                {{form_row(form.ingresospnc, { 'widget_col': 10}) }}
                {{form_row(form.ingresosotros, { 'widget_col': 10}) }}
                {{form_row(form.ingresosnomina, { 'widget_col': 10}) }}
                {{form_row(form.ingresosrgi, { 'widget_col': 10}) }}
                {{form_row(form.ingresosprestcontrib, { 'widget_col': 10}) }}
                {{form_row(form.ingresossedesconoce, { 'widget_col': 10}) }}
                {{form_row(form.ingresosayudaindividual, { 'widget_col': 10}) }}
                {{form_row(form.ingresosno, { 'widget_col': 10}) }}
                {{form_row(form.penalantecedentesprision, { 'widget_col': 10}) }}
                {{form_row(form.penalordenalejamiento, { 'widget_col': 10}) }}
                {{form_row(form.penalprisionpreventiva, { 'widget_col': 10}) }}
                {{form_row(form.penalprisionotros, { 'widget_col': 10}) }}
                {{form_row(form.penallibcondicional, { 'widget_col': 10}) }}
                {{form_row(form.penalmedidaseguridad, { 'widget_col': 10}) }}
                {{form_row(form.penalcausaspendientes, { 'widget_col': 10}) }}
                {{form_row(form.penalpermisopenitenc, { 'widget_col': 10}) }}
                {{form_row(form.penaltercergrado, { 'widget_col': 10}) }}
                {{form_row(form.penaltbc, { 'widget_col': 10}) }}
                {{form_row(form.ducha, { 'widget_col': 10}) }}
                {{form_row(form.ropero, { 'widget_col': 10}) }}
                {{form_row(form.lavanderia, { 'widget_col': 10}) }}
                {{form_row(form.tlsabado, { 'widget_col': 10}) }}
                {{form_row(form.tldomingo, { 'widget_col': 10}) }}
                {{form_row(form.salidaverano, { 'widget_col': 10}) }}
                {{form_row(form.salidaotro, { 'widget_col': 10}) }}
                {{form_row(form.medicacioncentro, { 'widget_col': 10}) }}
                {{form_row(form.nivelcastellano, { 'widget_col': 10}) }}
                {{form_row(form.explaboral, { 'widget_col': 10}) }}
                {{form_row(form.lanbide, { 'widget_col': 10}) }}
                {{form_row(form.fechaaltalanbide, { 'widget_col': 10}) }}
                {{form_row(form.fecharenovlanbide, { 'widget_col': 10}) }}
                {{form_row(form.inem, { 'widget_col': 10}) }}
                {{form_row(form.fechaaltainem, { 'widget_col': 10}) }}
                {{form_row(form.fecharenovinem, { 'widget_col': 10}) }}
                {{form_row(form.cursos, { 'widget_col': 10}) }}
                {{form_row(form.poblacionpadron, { 'widget_col': 10}) }}
                {{form_row(form.consumoprinc, { 'widget_col': 10}) }}
                {{form_row(form.insertidusuario, { 'widget_col': 10}) }}
                {{form_row(form.fechainsert, { 'widget_col': 10}) }}
                {{form_row(form.anosconsumo, { 'widget_col': 10}) }}
                {{form_row(form.tratamiento, { 'widget_col': 10}) }}
                {{form_row(form.tratamientotipo, { 'widget_col': 10}) }}
                {{form_row(form.procedenciademandalista, { 'widget_col': 10}) }}
                {{form_row(form.situacionadministrativa, { 'widget_col': 10}) }}
                {{form_row(form.fechacaductis, { 'widget_col': 10}) }}                  -->
            </div>  
            <div class="tab-pane fade  in active" id="dim_economia">
                    <h2>Dimensión 1. Situación económica</h2>
                    {{form_row(form.ind1x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x5xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x7, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_ocupacional">
                    <h2>Dimensión 2. Situación ocupacional-laboral</h2>
                    {{form_row(form.ind2x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xBx2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_residencial">
                    <h2>Dimensión 3. Situación residencial</h2>
                    {{form_row(form.ind3x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xE, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xD, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xR, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x3xT, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_economico">
                    <h2>Situación jurídico administrativa: ámbito económico, laboral y residencial</h2>
                    {{form_row(form.indTx1, { 'widget_col': 10}) }}
                    {{form_row(form.indTx2, { 'widget_col': 10}) }}
                    {{form_row(form.indTx3, { 'widget_col': 10}) }}
                    {{form_row(form.indTx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_alojamiento">
                    <h2>Dimensión 4. Situación de alojamiento y vivienda</h2>                    
                    {{form_row(form.ind4x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xB, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xC, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_vinculos">
                    <h2>Dimensión 5. Vínculos afectivos y recepción de apoyo social</h2>                    
                    {{form_row(form.ind5x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x5, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_convivencia">
                    <h2>Dimensión 6. Situación relacional convivencial, personal, familiar.</h2>                    
                    {{form_row(form.ind6x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_cotidiana">
                    <h2>Dimensión 7. Organización de la vida cotidiana.</h2>                    
                    {{form_row(form.ind7xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx7, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx5, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_relacional">
                    <h2>Dimensión 8. Relaciones convivenciales en otros contextos</h2>                    
                    {{form_row(form.ind8x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_convivencial">
                    <h2>Situación jurídico - administrativa: ámbito convivencial</h2>                    
                    {{form_row(form.indTx5, { 'widget_col': 10}) }}
                    {{form_row(form.indTx6, { 'widget_col': 10}) }}
                    {{form_row(form.indTx7, { 'widget_col': 10}) }}
                    {{form_row(form.indTx8, { 'widget_col': 10}) }}
                    {{form_row(form.indTx9, { 'widget_col': 10}) }}
                    {{form_row(form.indTx10, { 'widget_col': 10}) }}
                    {{form_row(form.indTx11, { 'widget_col': 10}) }}
                    {{form_row(form.indTx12, { 'widget_col': 10}) }}
                    {{form_row(form.indTx13, { 'widget_col': 10}) }}
                    {{form_row(form.indTx14, { 'widget_col': 10}) }}
                    {{form_row(form.indTx15, { 'widget_col': 10}) }}
                    {{form_row(form.indTx16, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_habilidades">
                    <h2>Dimensión 9. Competencias - habilidades sociales</h2>                    
                    {{form_row(form.ind9xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx7, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx8, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_formacion">
                    <h2>Dimensión 10. Educación . Formación - información - capacitación</h2>                    
                    {{form_row(form.ind10x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x7, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x8, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_dinamismos">
                    <h2>Dimensión 11. Dinamismos vitales</h2>                    
                    {{form_row(form.ind11x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x7, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_proteccion">
                    <h2>Dimensión 12. Uso de los sistemas de protección</h2>                    
                    {{form_row(form.ind12x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind12x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind12x3, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_personal">
                    <h2>Situación jurídico administrativa: ámbito personal</h2>                    
                    {{form_row(form.indTx17, { 'widget_col': 10}) }}
                    {{form_row(form.indTx17xA, { 'widget_col': 10}) }}
                    {{form_row(form.indTx17xB, { 'widget_col': 10}) }}
                    {{form_row(form.indTx18, { 'widget_col': 10}) }}
                    {{form_row(form.indTx19, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_salud">
                    <h2>Dimensión 13. Situación de la salud</h2>                    
                    {{form_row(form.ind13x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x3xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx3, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_dependencia">
                    <h2>Dimensión 14.  Incapacidad laboral, discapacidad y dependencia</h2>                    
                    {{form_row(form.ind14x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_salud">
                    <h2>Situación jurídico administrativa: ámbito salud</h2>                    
                    {{form_row(form.indTx20, { 'widget_col': 10}) }}
                    {{form_row(form.indTx21, { 'widget_col': 10}) }}
                    {{form_row(form.indTx22, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_aceptacion">
                    <h2>Dimensión 15. Aceptación social y convivencia cotidiana comunitaria</h2>                    
                    {{form_row(form.ind15x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind15x2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_adaptacion">
                    <h2>Dimensión 16. Adaptación al medio social y normativo</h2>                    
                    {{form_row(form.ind16x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind16x2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_participacion">
                    <h2>Dimensión 17. Disponibilidad de relaciones sociales y ejercicio de la participación social.</h2>
                    {{form_row(form.ind17x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x3xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x5xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x7, { 'widget_col': 10}) }}
            </div>
        </div>


        {{form_row(form.guardar)}}
        {{ form_end(form, {'render_rest': false}) }}
    {% endblock col_izda %}

    {% block col_dcha %}
        <h2>Indice</h2>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <br><a href= '1024'>Alberto P.</a>
            <br><a href= '1061'>Nadia H.</a>
            <br><a href= '1032'>Noureddin M.</a>
            <br><a href='2774'>Mohamed F.</a>
            <br><a href='2883'>Samir R.</a>

    {% endblock col_dcha %}

