<!DOCTYPE html>
<html>
<head>

    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>


    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

<div class="container">

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Zubietxe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Persona</a></li>
          <li><a href="#">Seguimiento</a></li>
          <li><a href="actividad">Actividad</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>



<div class="row">
    <div class="col-md-9">

    <h3>Formulario persona: </h3>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#identificacion" role="tab" data-toggle="tab">Identificación</a></li>
  <li><a href="#formativo" role="tab" data-toggle="tab">Formativo-laborales</a></li>
  <li><a href="#sanitario" role="tab" data-toggle="tab">Sanitarios</a></li>
  <li><a href="#administrativo" role="tab" data-toggle="tab">Administrativo</a></li>
  <li><a href="#juridico" role="tab" data-toggle="tab">Jurídico</a></li>
  <li><a href="#intervencion" role="tab" data-toggle="tab">Intervención</a></li>
</ul>


            {{ form_start(form, { 'style': 'horizontal' }) }}
<div class="tab-content">
    <div class="tab-pane active fade in active" id="identificacion">
            {{form_row(form.sexo) }}
            {{form_row(form.nombre) }}
            {{form_row(form.apellido1) }}
            {{form_row(form.apellido2) }}
            {{form_row(form.fechanac) }}
            {{form_row(form.lugarNac) }}
            {{form_row(form.dniPas) }}
            {{form_row(form.numSs) }}
            {{form_row(form.numExpediente) }}
            {{form_row(form.nacionalidad) }}
            {{form_row(form.telefono) }}
            {{form_row(form.direccion) }}
            {{form_row(form.poblacion) }}
            {{form_row(form.nucleoConv) }}
    </div>    
    <div class="tab-pane active fade" id="formativo">

            {{form_row(form.estadoCivil) }}
            {{form_row(form.hijos) }}
            {{form_row(form.nHijos) }}
            {{form_row(form.observacionesHijos) }}
            {{form_row(form.telefonosInteres) }}
            {{form_row(form.fechaIngreso) }}
            {{form_row(form.fechaSalida) }}
            {{form_row(form.procedenciaDemanda) }}
            {{form_row(form.tutor) }}
            {{form_row(form.comeLu) }}
            {{form_row(form.comeMa) }}
            {{form_row(form.comeMi) }}
            {{form_row(form.comeJu) }}
            {{form_row(form.comeVi) }}
            {{form_row(form.comeSa) }}
            {{form_row(form.comeDo) }}
            {{form_row(form.comeSaNotas) }}
            {{form_row(form.comeDoNotas) }}
    </div>
            {{form_row(form.creditrans) }}
            {{form_row(form.listaEsperaPiso) }}
            {{form_row(form.datosformativosobs) }}
            {{form_row(form.datosformativositem) }}
            {{form_row(form.idioma) }}
            {{form_row(form.edadabandonoestudios) }}
            {{form_row(form.laboralorigen) }}
            {{form_row(form.laboralespana) }}
            {{form_row(form.tiempotrabajado) }}
            {{form_row(form.trabaja) }}
            {{form_row(form.autonomia) }}
            {{form_row(form.disminucionfisica) }}
            {{form_row(form.minusvaliaporcentaje) }}
            {{form_row(form.incapacitacion) }}
            {{form_row(form.toxicomania) }}
            {{form_row(form.antecconsumo) }}
            {{form_row(form.disminucionpsiquica) }}
            {{form_row(form.enfermedadmental) }}
            {{form_row(form.tuberculosis) }}
            {{form_row(form.hepatitis) }}
            {{form_row(form.vih) }}
            {{form_row(form.diabetes) }}
            {{form_row(form.otras) }}
            {{form_row(form.enfermedadescomentarios) }}
            {{form_row(form.medicacion) }}
            {{form_row(form.enfmentaldiagnostico) }}
            {{form_row(form.enfmentalfechadiagn) }}
            {{form_row(form.enfmentaltratamiento) }}
            {{form_row(form.enfmentalingresos) }}
            {{form_row(form.enfmentalpadres) }}
            {{form_row(form.enfmentalhermanos) }}
            {{form_row(form.enfmentalpareja) }}
            {{form_row(form.enfmentalhijos) }}
            {{form_row(form.drogaspadres) }}
            {{form_row(form.drogashermanos) }}
            {{form_row(form.drogaspareja) }}
            {{form_row(form.drogashijos) }}
            {{form_row(form.permisoresid) }}
            {{form_row(form.permisoresidtr) }}
            {{form_row(form.npasap) }}
            {{form_row(form.fpasap) }}
            {{form_row(form.ncedula) }}
            {{form_row(form.fcedula) }}
            {{form_row(form.fressol) }}
            {{form_row(form.nresconc) }}
            {{form_row(form.fresconc) }}
            {{form_row(form.frestrsol) }}
            {{form_row(form.nrestrconc) }}
            {{form_row(form.frestrconc) }}
            {{form_row(form.visado) }}
            {{form_row(form.asilo) }}
            {{form_row(form.otrosdoc) }}
            {{form_row(form.fentrada) }}
            {{form_row(form.fprueba) }}
            {{form_row(form.abogadootros) }}
            {{form_row(form.permisoresidrazonesno) }}
            {{form_row(form.permisosolicitudfecha) }}
            {{form_row(form.permisosolicitudlugar) }}
            {{form_row(form.tiemporesidenciaespanya) }}
            {{form_row(form.tiemporesidenciabilbao) }}
            {{form_row(form.permisotrabajo) }}
            {{form_row(form.permisotrabajorazonesno) }}
            {{form_row(form.fechaempadronamiento) }}
            {{form_row(form.empadronamiento) }}
            {{form_row(form.tis) }}
            {{form_row(form.redapoyo) }}
            {{form_row(form.ingresospropios) }}
            {{form_row(form.ingresospnc) }}
            {{form_row(form.ingresosotros) }}
            {{form_row(form.ingresosnomina) }}
            {{form_row(form.ingresosrentabas) }}
            {{form_row(form.ingresosprestcontrib) }}
            {{form_row(form.ingresossedesconoce) }}
            {{form_row(form.ingresosayudaindividual) }}
            {{form_row(form.ingresosno) }}
            {{form_row(form.penalantecedentesprision) }}
            {{form_row(form.penalordenalejamiento) }}
            {{form_row(form.penalprisionpreventiva) }}
            {{form_row(form.penalprisionotros) }}
            {{form_row(form.penallibcondicional) }}
            {{form_row(form.penalmedidaseguridad) }}
            {{form_row(form.penalcausaspendientes) }}
            {{form_row(form.penalpermisopenitenc) }}
            {{form_row(form.penaltercergrado) }}
            {{form_row(form.penaltbc) }}
            {{form_row(form.ducha) }}
            {{form_row(form.ropero) }}
            {{form_row(form.lavanderia) }}
            {{form_row(form.tlSabado) }}
            {{form_row(form.tlDomingo) }}
            {{form_row(form.salidaVerano) }}
            {{form_row(form.salidaOtro) }}
            {{form_row(form.medicacionCentro) }}
            {{form_row(form.nivelcastellano) }}
            {{form_row(form.expLaboral) }}
            {{form_row(form.lanbide) }}
            {{form_row(form.fAltaLanbide) }}
            {{form_row(form.fRenovLanbide) }}
            {{form_row(form.inem) }}
            {{form_row(form.fAltaInem) }}
            {{form_row(form.fRenovInem) }}
            {{form_row(form.cursos) }}
            {{form_row(form.poblacionPadron) }}
            {{form_row(form.consumoprinc) }}
            {{form_row(form.insertIdUsuario) }}
            {{form_row(form.insertFecha) }}
            {{form_row(form.anosconsumo) }}
            {{form_row(form.tratamiento) }}
            {{form_row(form.tratamientotipo) }}
            {{form_row(form.procedenciaDemandaLista) }}
            {{form_row(form.documentoidentif) }}

            {{ form_end(form) }}
    </div>
        </div> <!-- col 8 (izquierda)  -->
        <div class="col-md-3">
            <h2>Indice</h2>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div> <!-- col 4 (derecha)  -->
    </div>
</div>
</body>