{% extends "ZubietxePrincipalBundle:Default:dos_columnas.html.twig" %}


    {% block title 'Amiga - Persona' %}

    {% block col_izda %}

    {% import "ZubietxePrincipalBundle:Default:macros.html.twig" as funciones %}

        <h3>Formulario persona: </h3>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#dim_economia" role="tab" data-toggle="tab">Situación económica</a></li>
            <li><a href="#dim_ocupacional" role="tab" data-toggle="tab">Situación ocupacional-laboral</a></li>
            <li><a href="#dim_residencial" role="tab" data-toggle="tab">Situación residencial</a></li>
            <li><a href="#dim_jur_economico" role="tab" data-toggle="tab">Jurídico - económico</a></li>
            <li><a href="#dim_alojamiento" role="tab" data-toggle="tab">Situación de alojamiento</a></li>
            <li><a href="#dim_vinculos" role="tab" data-toggle="tab">Vínculos y apoyo social</a></li>
            <li><a href="#dim_convivencia" role="tab" data-toggle="tab">Situación convivencial.</a></li>
            <li><a href="#dim_cotidiana" role="tab" data-toggle="tab">Vida cotidiana.</a></li>
            <li><a href="#dim_relacional" role="tab" data-toggle="tab">Relaciones otros contextos</a></li>
            <li><a href="#dim_jur_convivencial" role="tab" data-toggle="tab">Jurídico - convivencial</a></li>
            <li><a href="#dim_habilidades" role="tab" data-toggle="tab">Habilidades sociales</a></li>
            <li><a href="#dim_formacion" role="tab" data-toggle="tab">Educación - Formación</a></li>
            <li><a href="#dim_dinamismos" role="tab" data-toggle="tab">Dinamismos vitales</a></li>
            <li><a href="#dim_proteccion" role="tab" data-toggle="tab">Sistemas de protección</a></li>
            <li><a href="#dim_jur_personal" role="tab" data-toggle="tab">Jurídico - personal</a></li>
            <li><a href="#dim_salud" role="tab" data-toggle="tab">Salud</a></li>
            <li><a href="#dim_dependencia" role="tab" data-toggle="tab"> Incapacidad, discapacidad y dependencia</a></li>
            <li><a href="#dim_jur_salud" role="tab" data-toggle="tab"> Jurídico - salud</a></li>
            <li><a href="#dim_aceptacion" role="tab" data-toggle="tab">Aceptación social</a></li> 
            <li><a href="#dim_adaptacion" role="tab" data-toggle="tab">Adaptación social</a></li>
            <li><a href="#dim_participacion" role="tab" data-toggle="tab">Participación social.</a></li>         
        </ul>

        {{ form_start(form, { 'style': 'vertical' }) }}
        <div class="tab-content">
            <div class="tab-pane fade  in active" id="dim_economia">
                    <h2>Dimensión 1. Situación económica</h2>
                    {{form_row(form.ind1x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x5xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind1x7, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_ocupacional">
                    <h2>Dimensión 2. Situación ocupacional-laboral</h2>
                    {{form_row(form.ind2x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind2xBx2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_residencial">
                    <h2>Dimensión 3. Situación residencial</h2>
                    {{form_row(form.ind3x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xE, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xD, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x2xR, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x3xT, { 'widget_col': 10}) }}
                    {{form_row(form.ind3x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_economico">
                    <h2>Situación jurídico administrativa: ámbito económico, laboral y residencial</h2>
                    {{form_row(form.indTx1, { 'widget_col': 10}) }}
                    {{form_row(form.indTx2, { 'widget_col': 10}) }}
                    {{form_row(form.indTx3, { 'widget_col': 10}) }}
                    {{form_row(form.indTx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_alojamiento">
                    <h2>Dimensión 4. Situación de alojamiento y vivienda</h2>                    
                    {{form_row(form.ind4x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xB, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x2xC, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4x3x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xAx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind4xCx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_vinculos">
                    <h2>Dimensión 5. Vínculos afectivos y recepción de apoyo social</h2>                    
                    {{form_row(form.ind5x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind5x5, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_convivencia">
                    <h2>Dimensión 6. Situación relacional convivencial, personal, familiar.</h2>                    
                    {{form_row(form.ind6x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x1x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind6x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_cotidiana">
                    <h2>Dimensión 7. Organización de la vida cotidiana.</h2>                    
                    {{form_row(form.ind7xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xAx7, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind7xBx5, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_relacional">
                    <h2>Dimensión 8. Relaciones convivenciales en otros contextos</h2>                    
                    {{form_row(form.ind8x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind8x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_convivencial">
                    <h2>Situación jurídico - administrativa: ámbito convivencial</h2>                    
                    {{form_row(form.indTx5, { 'widget_col': 10}) }}
                    {{form_row(form.indTx6, { 'widget_col': 10}) }}
                    {{form_row(form.indTx7, { 'widget_col': 10}) }}
                    {{form_row(form.indTx8, { 'widget_col': 10}) }}
                    {{form_row(form.indTx9, { 'widget_col': 10}) }}
                    {{form_row(form.indTx10, { 'widget_col': 10}) }}
                    {{form_row(form.indTx11, { 'widget_col': 10}) }}
                    {{form_row(form.indTx12, { 'widget_col': 10}) }}
                    {{form_row(form.indTx13, { 'widget_col': 10}) }}
                    {{form_row(form.indTx14, { 'widget_col': 10}) }}
                    {{form_row(form.indTx15, { 'widget_col': 10}) }}
                    {{form_row(form.indTx16, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_habilidades">
                    <h2>Dimensión 9. Competencias - habilidades sociales</h2>                    
                    {{form_row(form.ind9xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xAx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xBx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xCx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx4, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx5, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx6, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx7, { 'widget_col': 10}) }}
                    {{form_row(form.ind9xDx8, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_formacion">
                    <h2>Dimensión 10. Educación . Formación - información - capacitación</h2>                    
                    {{form_row(form.ind10x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x2x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x7, { 'widget_col': 10}) }}
                    {{form_row(form.ind10x8, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind10xAx4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_dinamismos">
                    <h2>Dimensión 11. Dinamismos vitales</h2>                    
                    {{form_row(form.ind11x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind11x7, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_proteccion">
                    <h2>Dimensión 12. Uso de los sistemas de protección</h2>                    
                    {{form_row(form.ind12x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind12x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind12x3, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_personal">
                    <h2>Situación jurídico administrativa: ámbito personal</h2>                    
                    {{form_row(form.indTx17, { 'widget_col': 10}) }}
                    {{form_row(form.indTx17xA, { 'widget_col': 10}) }}
                    {{form_row(form.indTx17xB, { 'widget_col': 10}) }}
                    {{form_row(form.indTx18, { 'widget_col': 10}) }}
                    {{form_row(form.indTx19, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_salud">
                    <h2>Dimensión 13. Situación de la salud</h2>                    
                    {{form_row(form.ind13x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind13x3xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xAx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xAx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xBx3, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx1, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx2, { 'widget_col': 10}) }}
                    {{form_row(form.ind13xCx3, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_dependencia">
                    <h2>Dimensión 14.  Incapacidad laboral, discapacidad y dependencia</h2>                    
                    {{form_row(form.ind14x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind14x4, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_jur_salud">
                    <h2>Situación jurídico administrativa: ámbito salud</h2>                    
                    {{form_row(form.indTx20, { 'widget_col': 10}) }}
                    {{form_row(form.indTx21, { 'widget_col': 10}) }}
                    {{form_row(form.indTx22, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_aceptacion">
                    <h2>Dimensión 15. Aceptación social y convivencia cotidiana comunitaria</h2>                    
                    {{form_row(form.ind15x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind15x2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_adaptacion">
                    <h2>Dimensión 16. Adaptación al medio social y normativo</h2>                    
                    {{form_row(form.ind16x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind16x2, { 'widget_col': 10}) }}
            </div>
            <div class="tab-pane fade" id="dim_participacion">
                    <h2>Dimensión 17. Disponibilidad de relaciones sociales y ejercicio de la participación social.</h2>
                    {{form_row(form.ind17x1, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x1xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x2, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x2xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x3, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x3xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x4, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x5, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x5xA, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x6, { 'widget_col': 10}) }}
                    {{form_row(form.ind17x7, { 'widget_col': 10}) }}
            </div>
        </div>


        {{form_row(form.guardar)}}
        {{ form_end(form, {'render_rest': false}) }}
    {% endblock col_izda %}

    {% block col_dcha %}
        <h2>Indice</h2>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <br><a href= '1024'>Alberto P.</a>
            <br><a href= '1061'>Nadia H.</a>
            <br><a href= '1032'>Noureddin M.</a>
            <br><a href='2774'>Mohamed F.</a>
            <br><a href='2883'>Samir R.</a>

    {% endblock col_dcha %}

